# dependencies
/client/node_modules
/server/node_modules
/realtimeide/node_modules
/resumestore/node_modules
/.pnp
.pnp.js
# testing

/coverage
# production

/build
# misc

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
START SEQUENCE.txt
resumestore/src/App.js
realtimeide/.gitignore
realtimeide/.eslintrc.json
realtimeide/.vercelignore
realtimeide/next-env.d.ts
realtimeide/next.config.js
realtimeide/package.json
realtimeide/postcss.config.js
